

{% extends 'base.html' %}
{% block title %}Add Product{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-7">

    <div class="card shadow-sm">
      <div class="card-body p-4">

        <h4 class="mb-3">Add New Product</h4>

      

        <form method="POST"
              action="/admin/add-item"
              enctype="multipart/form-data">

          <!-- Product Name -->
          <div class="mb-3">
            <label class="form-label">Product Name</label>
            <input
              type="text"
              name="name"
              class="form-control"
              required>
          </div>

          <!-- Description -->
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea
              name="description"
              class="form-control"
              rows="3"
              required></textarea>
          </div>

          <!-- Category -->
          <div class="mb-3">
            <label class="form-label">Category</label>
            <input
              type="text"
              name="category"
              class="form-control"
              required>
          </div>

          <!-- Price -->
          <div class="mb-3">
            <label class="form-label">Price</label>
            <input
              type="number"
              step="0.01"
              name="price"
              class="form-control"
              required>
          </div>

          <!-- Image -->
          <div class="mb-4">
            <label class="form-label">Product Image</label>
            <input
              type="file"
              name="image"
              class="form-control"
              accept="image/*"
              required>
          </div>

          <!-- Buttons -->
          <button type="submit" class="btn btn-success">
            Add Product
          </button>

          <a href="/admin-dashboard" class="btn btn-secondary ms-2">
            Go To Dashboard
          </a>

        </form>

      </div>
    </div>

  </div>
</div>
{% endblock %}



              